body {
    background-color: black;
    color: red;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 800px;
    gap: 72px;
    padding: 14px;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 12px;  
    width: 100%;
    object-fit: cover; 
    overflow: unset;
}

.bannercap {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.Linktree {
    display: inline;
    color: rgb(255, 255, 255);
    padding: 6px 52px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}

.Linktree:hover {
    opacity: 0.6;
}

.Email {
    display: inline;
    color: rgb(255, 255, 255);
    padding: 6px 0px 0px 52px;
    text-decoration: none;
    cursor: pointer;
}

.Email:hover {
    opacity: 0.6;
}





