body {
    background-color: black;
    color: red;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.Linktree {
    float: left;
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 18px 12px;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.Linktree:hover {
    opacity: 0.6;
}

.Email {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin: 0px 12px 18px 0px;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.Email:hover {
    opacity: 0.6;
}




