:root {
    --primary-color: #ed3d34;
    --secondary-color: #d54b33;
    --bg-color: #0d1512;
}

* {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

nav .item1 {
    float: left;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
    color: #f36161;
    text-decoration: none;
    cursor: pointer;
}

nav .item2 {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
    color: #f36161;
    text-decoration: none;
    cursor: pointer;
}

nav:hover {
    opacity: 0.7;
}

.banner { 
    display: flex;
    justify-content: center;
    width: 82%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.bannercap {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

main {
    margin-top: 64px;
}

h2 {
    margin: 12px;
    text-decoration: underline;
}

.projectcontainer {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin: 16px;
}

.linkitem {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

.linkitem:hover {
    opacity: 0.6;
}




